
.progress-bar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    flex-direction: row;
    background: none;
    width: 100%;
}

.one {
    background: #ff9b05;
    width: calc(100% / 3);
    height: 5px;
    border-right: 2px solid white;
}

.two {
    background: lightgray;
    width: calc(100% / 3);
    height: 5px;
}

.three {
    background: lightgray;
    width: calc(100% / 3);
    height: 5px;
}

/*popup style*/
.popup-main {
    font-size: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.task-Q {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

.task-D {
    font-size: 18px;
    padding-bottom: 5px;
}

/*box input*/
.box-input textarea {
    border: 2px solid #D1D1D1;
    width: 100%;
    height: 80px;
    margin: 0px auto;
    border-radius: 20px;
    outline: none;
    font-size: 18px;
    padding: 10px;
}

.price-input input {
    border: 2px solid #D1D1D1;
    width: 50%;
    height: 40px;
    margin: 0px auto;
    border-radius: 20px;
    outline: none;
    text-indent: 10px;
    font-size: 18px;
}

#next, #back {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 0px auto;
    background: #ff9b05;
    color: white;
    font-size: 20px;
}

.next-id {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    margin: 5% auto;
    text-align: center;
}

/*popup extraz*/
.main-progress-content {
    padding: 0px 30px;
}

/*step one*/
.step-one, .step-two, .step-three {
    display: none;
}
/* make back and next stay*/
.backNext {
    display: flex;
    width: 100%;
}

#back, #back-two, #back-three {
    margin-right: 15%;
    width: 45%;
    height: 50px;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}

.location-cover {
    padding: 10px;
    margin: 10px 0px;
    margin-right: 10px;
}

.location-cover2 {
    padding: 10px;
    margin: 10px 0px;
    margin-left: 10px;
}


.main-loc {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

.sub-loc {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
}

/* Style address*/
#address {
    border: 2px solid #D1D1D1;
    width: 50%;
    height: 40px;
    margin: 0px auto;
    border-radius: 10px;
    outline: none;
    text-indent: 10px;
}

.whenDate {
    padding-top: 30px!important;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#dateTime {
    border: 2px solid #D1D1D1;
    width: 50%;
    height: 40px;
    margin: 0px auto;
    border-radius: 10px;
    outline: none;
    text-indent: 8px;
}

/*Budjet*/
.budjet {
    height: 100px;
    width: 100%;
    background: #ff9b05;
    margin-top: 25%;
}

.estimate {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: blue;
    position: relative;
    top: 20px;
    margin: 0px 20px;
}

.sub-estimate {
    font-size: 18px;
    font-weight: 100;
    color: blue;
    position: relative;
    top: 20px;
    margin: 0px 20px;
}

.set-price {
    float: right;
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    top: -25px;
    margin: 0px 20px;
}

.pop-cover {
    margin-bottom: 10px;
}


/*modal popup*/
.bg-modal {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    overflow: hidden;
}

.modal-content {
    width: 600px;
    min-height: 500px;
    background: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.popup-img {
    width: 250px;
    height: 200px;
}

.pop-main {
    font-size: 30px;
    font-weight: bold;   
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.popuppp-main {
    font-size: 20px;
    margin: 15px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pop-sub {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: gray;
}

.divi {
    width: 80%;
    margin: 0px auto;
}

.pop-cover {
    width: 100%;
    height: auto;
    margin: 10vh auto;
    margin-bottom: 0px;
    display: flex;
}

.next, #next-one {
    background: #ff9b05;
    outline: none;
    border: none;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0px auto;
}

#next-two, #back, #next-three, #back-two, #back-three{
    background: #ff9b05;
    outline: none;
    border: none;
    width: 45%;
    height: 50px;
    border-radius: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin: 0px auto;
}

.next-cover {
    display: flex;
    height: 50px;
    margin: 20px auto;
}

/*plus*/
.plus {
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    top: -22px;
    right: -10px;
    margin: -10px 20px;
    background: none;
    outline: none;
    border: none;
    transform: rotate(45deg);
    padding: 20px;
    z-index: 1000000;
}

/*location*/
.location {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.location-cover, .location-cover2 {
    background: lightgray;
}

.sub-loc {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 20px;
}

.searches .span2 {
    display: inline;
}


.next-id button, .next {
    border-radius: 0px!important;
}

.space {
    width: 100%;
    height: 50px;
}


.space2 {
    width: 100%;
    height: 220px;
}

input {
    border-radius: 10px!important;
}

.giphy {
    width: 80%;
    margin: 0px auto;
    height: auto;
}

.giphy img {
    width: 100%;
    height: 100%;
}

.congrats-text {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 100px;
    padding: 0px 5%;
    font-weight: bold;
}

#address, #dateTime {
    font-size: 16px;
}

.popup-img {
    width: 60%;
    height: auto;
    margin: 0px auto;
}

/*on ckick*/
.plus:focus, .plus:active, .plus:active {
    border: none;
    outline: none;
}