/*body {
    background-color: red;
} */

/*floating phone*/
.phone-ui {
    /*width: calc(781px - 25vw);
    height: calc(723px - 25vw);*/
    width: calc(421px - 8vw);
    height: calc(363px - 8vh);
}

/*change height of herobar on tablet*/
.herobar {
    min-height: 350px;
}

/*3 padding on mobile*/
.three-cover {
    padding: 0px 5%;
}

/*video screen*/
.video-screen {
    width: 80%;
}

/*explore categories*/
.explore-icons {
    margin: 0px 5%; 
}

/*earn segment*/
.earn-cover {
    width: 80%;
}

/*change width to 45% in tablt mode*/
.faq-box {
    width: 45%;
    margin: 10px 0px;
}

/*FAQ*/
.faq-container {
    padding: 0px;
}

@media (max-width: 790px) and (min-width: 600px) {
/* body {
    background-color: green;
} */

/*floating phone*/
.phone-ui {
    width: calc(421px - 12vw);
    height: calc(363px - 12vh);
}

/*change height of herobar on tablet*/
.herobar {
    min-height: 320px;
}

/*video screen*/
.video-screen {
    width: 80%;
    height: 50%;
}

/*margin-important*/ 
.margin-important {
    margin: 0px!important;
    padding: 0px!important;
}

}

/*NAV 100% remove bootstrap fature of padding*/
nav {
    max-width: 100%!important;
}

/*margin-important*/ 
.margin-important {
    margin: 0px!important;
    padding: 0px!important;
}
